textarea {
    width: 50%;
    display: block;
    margin: 1.5rem 1rem;
    height: 17vh;
    padding: 1rem 1rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

#my-output {
    border: 1px solid black;
    width: 50%;
    display: block;
    margin: 1rem 1rem;
    height: 17vh;
    padding: 1rem 1rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

#my-Browser {
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    font-size: 1.1rem;
}

body {
    margin: 0px auto;
    width: 100%;
}

body header {
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    border: 1px solid;
    background-color: #518467;
    box-sizing: border-box;
}

body footer {
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    border: 1px solid;
    background-color: #518467;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}
.but{
    text-align: center;
}

.outhead {
    font: bold;
    font-size: large;
    margin: 1rem;
    text-align: center;
    color: #518467;
}